html
  head
    title Who is my representative?
  body
    h1 Who is my representative?
    form(method='get' action='/')
      select(name='method')
        option(value='zip' selected=(query.method === 'zip')) Zip
        option(value='name' selected=(query.method === 'name')) Name
        option(value='state' selected=(query.method === 'state')) State
      select(name='type')
        option(value='reps') Representatives
        option(value='sens') Senators
      input(type='text' name='search' value=query.search)
      button Submit
    
    ul
      if reps
        for rep in reps
          li
            p= rep.name
            p= rep.state
            p= rep.party
            p= rep.office
            p= rep.phone